

.contactBox{
   
display: flex;
   
flex-direction: row;
   
width: 90vw;
   
align-content: space-between;
   
align-items: center;
margin:100px 0 0 100px;
}


.socialArea{
  
display: flex;
  
flex-direction: column;
  
width: 30vw;
  
align-items: center;
  
align-content: space-around;
}

.btn {
    width: 80%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 15px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
  }

.btn:hover {
    opacity: 1;
  }
  
  /* add appropriate colors to fb, twitter and google buttons */
  .linkedin {
    background-color: #0a66c2;
    color: white;
  }

  .stackOverflow {
    background-color: #f48225;
    color: white;
  }
  .github {
    background-color: #1a2331;
    color: white;
  }


  .fb {
    background-color: #3B5998;
    color: white;
  }
  
  .fa{
    background: transparent;
  }

  .twitter {
    background-color: #55ACEE;
    color: white;
  }
  
  . telegram {
    background-color: #0088cc;
    color: white;
  }
  

.formHeading{
    color: white;
}

.formSection{
   
    display: flex;
    flex-direction: column;
    width: 70vw;
    align-items: center;
}

.formArea{
    
display: flex;
    
flex-direction: column;
    
width: 55vw;
    
color: white;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: white;
  }
  
  input[type=submit] {
    background-color: #1d6bd1;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
    
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  @media(max-width:900px){
    .contactBox{
   

  margin-top: 20px; 
flex-direction: column;
   
width: 95vw;
   
align-items: center;
margin: 0;

   
}
.formHeading{
    width :100vw;
    text-align: justify;
    text-align: center;
    margin: 20px 0;
}

.socialArea{
    width: 95vw;
}

.formArea{
width: 95vw;
padding-left: 20px;

}
.main{
  width: 95vw;
}


  }