* {
    background-color: #181818;
    margin: 0px;
    padding: 0;
}

/* Top Navigation Start */
.navContainer {
    position: sticky;
    background-color: #181818;
    display: flex;
    flex-direction: row;
    height: 10vh;
    border: none;

}

/* Site logo */
.logo {
    background-color: transparent;
    display: flex;
    width: 18vw;
    margin: 5px 20px 5px 40px;
    align-items: flex-end;
}

.logo img {
    height: 7vh;
    width: auto;
}


/* navigation bar */
.navbar {
    /* background-color: #181818; */
    font-family: 'Fira Sans', sans-serif;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.navbar a {
    background-color: transparent;
    width: auto;
    color: white;
    font-size: 1.2vw;

    margin-right: 5vw;
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
    ;
}

/* hamburger icon */

.hamburger {
    display: none;


}

.main {


    display: flex;

    flex-direction: row;


}

/* Left Sidebar */

.sidebar {
    display: none;
   
    flex-direction: column;
    background-color: #181818;
    position: absolute;
    width: 40vw;
    height: 50vh;
    border-style: solid;
    border-color: rgb(66, 65, 65);
    border-width: 1px;
   
}

.sidebar ul{
    margin: 30px 0 0 30px;
    list-style-type: none;
}


.sidebar li{
    margin: 20px 0;
}
.sidebarGo {
    transform: translate(-443px, 0px);
    position: absolute;
}




.sidebar a{
    background-color: #181818;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 4vw;
    
   
    
}

.profileContainer {
    background-color: #181818;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 90vh;
}

.devInfo {
    /* background-color: red; */
    color: white;
    display: flex;
    flex-direction: column;
    width: 60vw;
    justify-content: center;
    align-items: flex-start;
    margin: 5vw;
}

 .circle {
    margin-top: 50px;
    margin-right:30px ;
    display: inline-block;
    border-radius: 50%;
    border: 5px solid yellow;
    overflow: hidden;
    width: 100%;
    max-width: 400px; /* Adjust the maximum width as per your requirements */
    height: 35vw;
    position: relative;
  }
  
  .circle img {
  
    display: block;
    width: 105%;
    height: 105%;
    object-fit: cover;
  }

/* .devPic {
    /* background-color: yellow; */
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 40vw;
    justify-content: space-around;
} */

/* .devPic img {

    /* background-color: aqua; */

    width: 40vw;

    height: auto;
} */

.hello {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3vw;
}

.name {
    font-size: 4.5vw;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.aboutInfo {
    font-size: 3vw;
    font-family: 'Fira Sans', sans-serif;
}

.moreAbout {
    font-size: 1.2vw;
    font-family: 'Fira Sans', sans-serif;

}

.buttons {
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.5vh;
    width: 20vw;
    height: 4vh;
}

.bigBtn {
    font-size: 1vw;
    width: 9vw;
    font-weight: bold;
    background-color: rgb(11, 173, 223);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
}

.bigBtn:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(11, 173, 223);
}

/* First media query at 1300 px */

@media (max-width: 1300px) {
    .devInfo {
        width: 50vw;
    }

    .devPic,
    .devPic img {
        width: 50vh;
        /* width: 50vw; */
    }
}

/* second media query at 900 px */

@media (max-width: 900px) {

    .main {
        flex-direction: column;
    }

    .navContainer {
        height: 7vh;
    }

    .logo img {
        height: 5vw;
    }

    .navbar a {
        font-size: 2vw;
    }

    .profileContainer {

        flex-direction: column;
        align-content: space-around;

    }

    .devInfo {

        width: 100vw;
        height: 30vh;
        align-items: center;
        padding: 0px;
        margin: 0px;
    }

    .devPic {
        /* background-color: red; */
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        width: auto;
        margin: 0px;

        height: 60vh;
        justify-content: space-around;
    }

    .devPic img {

        /* width: 100vw; */

        height: 60vh;
    }

}

/* Third media query at 500 px */

@media (max-width: 500px) {


    .hamburger {
        display: flex;
        /* background-color: yellow; */
        width: 20vw;
        align-items: center;
    }

    .sidebar {
       
        display: flex;
    }
    .logo {
        /* background-color: pink; */
        width: 80vw;
    }

    .logo img {
        height: 7vw;
    }

    .navbar {
        display: none;
    }


    .hello {
        font-family: 'Fira Sans', sans-serif;
        font-size: 5vw;
    }

    .name {
        font-size: 8vw;
        font-weight: bold;
        font-family: 'Fira Sans', sans-serif;
    }

    .aboutInfo {
        font-size: 4vw;
        font-family: 'Fira Sans', sans-serif;
    }

    .moreAbout p {
        text-align: center;
        font-size: 3vw;
        font-family: 'Noto Sans', sans-serif;
        margin: 10px 20px;
    }


    .buttons {
        /* background-color: blueviolet; */

        width: 55vw;
        height: 4vh;
    }

    .bigBtn {
        font-size: 3vw;
        width: 25vw;
        font-weight: bold;
        background-color: rgb(11, 173, 223);
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 10px;
    }
}
