
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500;700&display=swap');


.blogContainer{
  
  display: flex;
  flex-direction: column;
  width: 100vw;
 
  
}

#heading{

    display: flex;
    background-color: transparent;
    margin-top: 50px;
    color: white;
    text-decoration: underline;
    justify-content: space-around;
    margin: 10px 30px 0 10px;
}

.cardHolder{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.blogCard{
 
font-family: 'Noto Sans', sans-serif;
cursor: pointer;

display: flex;

flex-direction: row;

width: 96vw;

height: auto;

margin: 1vw;

border-radius: 10px;

-webkit-box-shadow: 0px 6px 0px #a2a5a7, 0px 3px 15px rgba(153, 152, 152, 0.4);

-moz-box-shadow: 0px 6px 0px #d6d7d8, 0px 3px 15px rgba(182, 180, 180, 0.4);

box-shadow: 0px 6px 0px #c2c4c5, 0px 3px 15px rgba(155, 154, 154, 0.4);

align-items: flex-start;

justify-content: flex-start;

align-content: center;
}

#cardLink{
  text-decoration: none;
}

.blogThumb img{
  /* background-color: blue; */
  height: 150px;
  width: 300px;
  border-radius: 10px 0 0 10px;
}

.blogInfo{
  /* background-color: aqua; */
  
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 10px;
}

.blogTitle{
 
  background-color: transparent;
 

 margin:10px 5px;
 width: 60vw ;
}

.projectDate{
  /* background-color: blueviolet; */
}

.blogDiscription{
  text-decoration: none;
  background-color: transparent;
  text-align: justify;
  
  margin:0 5px 10px 5px;
  width: 60vw;
  

}

.projectBtn{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* media query at 500px */
@media (max-width:510px){

  .blogContainer{
    justify-content: space-evenly; 
    width: 90vw;
    margin-left: 20px;
  }
  .cardHolder{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .blogCard{
    flex-direction: column;
    width: 95vw;
    height: auto;
    margin: 10px 10px 30px 10px;
    
  }

  .blogThumb img{
    
    height:auto;
    width: 90vw;
    
  }
.blogTitle{
  width: 90vw;
}


  .blogDiscription{
    width: 90vw;
  }

}