.mainAbout{
    display: flex;
    flex-direction: column;
    margin: 3vh 2vw;
}

.aboutContainer {
    /* background-color: red; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.aboutInfo {
    /* background-color: rgb(233, 8, 113); */
    width: 100%;
    height: auto;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5em;
    align-items: center;
    justify-content: center;
}




.aboutMe {
    font-family: 'Alkatra', cursive;
    /* FONT-WEIGHT: 10; */
    font-size: 2vw;
    
    color: red;
    text-decoration: underline;
}

.discription {
text-align: justify;
width: 100%;

height: auto;

font-size: 1.5vw;

margin-left:3vw;
font-family: 'Source Code Pro', monospace;
font-weight: bold;
}

.aboutPic {

    /* background-color: #04AA6D; */
    width: 20%;
    height: auto;
    
}

.aboutPic img {
   
    display: flex;
    margin-right:  10px;
    width: 100%;
    height: auto;
    align-items: center;
}

/* skills bar  */

.skills {
    margin: 20px 0 0 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}



.myskills {
    font-family: 'Poppins', sans-serif;
    /* FONT-WEIGHT: 10; */
    font-size: 3em;
    font-family: 'Alkatra', cursive;


    margin-left: 0px;
    text-decoration: underline;

}

.html {
    margin: 10px 0;
    width: 90%;
    background-color: #04AA6D;
}

.css {
    margin: 10px 0;
    width: 80%;
    background-color: #2196F3;
}

.js {
    margin: 10px 0;
    width: 65%;
    background-color: #f44336;
}

.php {
    margin: 10px 0;
    width: 60%;
    background-color: #808080;
}



@media (max-width: 1143px) {
    .aboutContainer {
        align-items: center;
        flex-direction: column;
    }

    .aboutMe {
        font-size: 3vh;
        
    }
    .discription{
        font-size: 2vh;
        font-family: 'Source Code Pro', monospace;
        margin: 0 30px 0 30px;
        padding: 0px;
    }

    .aboutPic  {
       
        width: 40%;
        height: auto;
    }

    .skills{
        margin:0 ;
    }
}

@media (max-width: 500px){
    .mainAbout{
        margin: 3vw 5vw;
    }

}